@import '../../variables.scss';

.message-log-container {
  text-align: right;
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  button.message-log-visibility-button {
    @extend %button.hud-button;
  }

  .message-log {
    color:$matrix-green;
    height: 0;
    visibility: hidden;
    transition: 1s ease all;
    overflow: hidden;
    margin-bottom: 1.6rem;
    &.open {
      height: 75px;
      visibility: visible;
    }
  }
}

