.message-log-container {
  text-align: right;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  button.message-log-visibility-button {
    background-color: red;
    border-bottom: 2px solid rgba(200, 200, 200, 0.7);
    border-top: 2px solid rgba(200, 200, 200, 0.7);
    border-left: 2px solid rgba(200, 200, 200, .5);
    border-right: 2px solid rgba(200, 200, 200, .6);
    border-radius: 25px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    span {
      border-top: 1px solid rgba(0,0,0,0.3);
      padding-bottom: 5px;
      border-radius: 11px;
      width: 25px !important;
      display: block;
      height: 19px;
      line-height: 25px;
      box-shadow: 2px 4px 5px -3px gainsboro;
    }
    &:focus {
      outline:0;
    }
    &.open {
      background-color: darkred;
      border-bottom: 2px solid rgba(150, 150, 150, 0.7);
      border-top: 2px solid rgba(150, 150, 150, 0.7);
      border-left: 2px solid rgba(150, 150, 150, .5);
      border-right: 2px solid rgba(150, 150, 150, .6);
    }
  }

  
  .message-log {
    color: #fff;
    height: 0;
    visibility: hidden;
    transition: 1s ease all;
    border: 1px solid grey;
    overflow: hidden;
    &.open {
      height: 75px;
      visibility: visible;
    }
  }
}

