::ng-deep .cdk-global-overlay-wrapper {

  .cdk-overlay-pane .mat-snack-bar-container {
    position: fixed;
    bottom: 2rem;
    left: 2rem;
    width: auto;

    .mat-simple-snackbar {
      background-color: gainsboro;
      border-radius: 3px;
      padding: 0 0.5rem;
      span {
        margin-right: .5rem;
      }
    }
  
    .mat-simple-snackbar-action {
      margin: 0;
      button {
        padding: 0 .5rem;
      }
    }
  }
}

#main-screen {
    position: fixed;
    height: 85vh;
    width: 100%;
    margin-bottom: 85px;
    top: 0;
    display: block;
}
