@import '../global.scss';

::ng-deep .cdk-global-overlay-wrapper {

  .cdk-overlay-pane .mat-snack-bar-container {
    position: fixed;
    bottom: 5rem;
    right: 35%;
    width: auto;

    .mat-simple-snackbar {
      background: none;
      color: $matrix-green;
      border-radius: 3px;
      padding: 0 0.5rem;
      width: fit-content;
      span {
        margin-right: .5rem;
      }
    }
  
    .mat-simple-snackbar-action {
      margin: 0;
      button {
        padding: 0 .5rem;
        background: none;
        color: $matrix-green;
      }
    }
  }
}

#main-screen {
    position: fixed;
    height: 85vh;
    width: 100%;
    margin-bottom: 85px;
    top: 0;
    display: block;
}
