/* You can add global styles to this file, and also import other style files */
body {
  background-color: #000000;
  overflow: hidden;
}

@font-face {
  font-family: overseer;
  src: url(assets/fonts/overseer.otf) format("opentype");
}

@font-face {
  font-family: overseer-italic;
  src: url(assets/fonts/overseer-italic.otf) format("opentype");
}

* {
  font-family: 'overseer-italic', 'roboto', 'sans-serif';
}